page-cards {
	.cards-slider {
		height: auto !important;
	}

	.slides-container {
		background: #e9e9e9;
	}

	.card-container {
		background: #fb8135;
	}

	.selected-card {
		ion-card {
			position: relative;
		}
	}
}