<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngFor="let p of pages">
        <button ion-item menuClose *ngIf="menuItemPermitted(p)" (click)="openPage(p) ">
          <ion-icon item-start *ngIf="false" [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{ p.title }}
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
